<md-list>
  <md-item ng-repeat="item in ctrl.order">
    <md-item-content layout="row">
        <div flex="25"><img data-src="{{item.image}}" /></div>
        <div flex><span>{{item.title}}</span></div>
        <div flex="10">{{item.price}} TL</div>
        <div flex="10"><md-input-container><label>Quantity</label><input ng-model="item.quantity"></md-input-container></div>
        <div flex="5"><md-button aria-label="remove from cart"><md-icon md-svg-icon="navigation:ic_close_24px"></md-icon></md-button></div>
    </md-item-content>
  </md-item>
  <md-item-content layout="column" layout-align="center end">
        <div flex>Total: 20TL</div>
    </md-item-content>
</md-list>