<div class="sf-product-item">
	<div class="sf-product-item__image"><a href="{{ctrl.item.link}}"><img data-src="{{ctrl.item.image}}"></a></div>
	<div class="sf-product-item__general">
			<h3 class="sf-product-item__title">{{ctrl.item.title}}</h3>
			<p class="sf-product-item__description" ng-show="ctrl.showDescription">{{ctrl.item.shortDesc}}</p>
			<span class="sf-product-item__price">{{ctrl.item.price}}<em>(+KDV)</em></span>
	</div>
	<div class="sf-product-item__variations" ng-if="ctrl.hasVariations">
		<select name="" id="">
			<option value="">Option1</option>
			<option value="">Option2</option>
		</select>
	</div>
	<div class="sf-product-item__cta">
		<input type="text" ng-show="ctrl.showAddQuantity">
		<md-button ng-show="ctrl.showAddButton" class="md-raised md-primary" ng-click="cartCtrl.addToCart(ctrl.item)">Sepete Ekle</md-button>
	</div>
	<div ng-transclude></div>
</div>