<div class="sf-minicart" layout="column">

  <!--
  <div class="sf-minicart__cart-selector">
    <md-select ng-model="ctrl.savedcart" placeholder="default cart">
      <md-option ng-value="opt.title" ng-repeat="opt in ctrl.savedcarts">{{ opt.title }}</md-option>
    </md-select>
  </div>
  -->

  <div class="sf-minicart__detail">
    <md-list>

      <md-item class="bold" ng-show="ctrl.showHeader === 'true'">
        <md-item-content layout="row">
          <div ng-repeat="column in ctrl.columns" flex="{{column.width}}">{{column.name}}</div>
        </md-item-content>
      </md-item>

      <md-item ng-repeat="item in ctrl.order">
        <md-item-content layout="row">
          <div ng-repeat="column in ctrl.columns" flex="{{column.width}}" sf-template="column.template" ng-model="item">{{item[column.name]}}</div>
        </md-item-content>
      </md-item>

      <md-item-content layout="column" layout-align="center end" ng-show="ctrl.showTotals === 'true'">
        <div flex>Total: 20TL</div>
      </md-item-content>

    </md-list>

    <hr>
    <div>{{ ctrl }}</div>
    
    <!--<md-button class="md-raised md-primary">GO TO CART</md-button>-->

  </div>


</div>




