.grid-color md-grid-list {
  margin: 8px; }
.grid-color .gray {
  background: #f5f5f5; }
.grid-color .green {
  background: #b9f6ca; }
.grid-color .yellow {
  background: #ffff8d; }
.grid-color .blue {
  background: #84ffff; }
.grid-color .purple {
  background: #b388ff; }
.grid-color .red {
  background: #ff8a80; }

  md-grid-tile {height: 10px; width: 10px; background: #ff8a80;}