/* main */
html {
	height: 100%;

	@media (max-width: 60em) {
		&.state--menu-active {
			overflow: hidden;
		}
	}
}

body {
	overflow-x: hidden;
	margin: 0;
	min-height: 100%;
	background: #f7f7f7;
	@media (max-width: 60em) {
		.state--menu-active & {
			width: 100%;
			height: 100%;
		}
	}
}

.f-container {
	@include clearfix;
	@include transition;
	position: relative;
	z-index: 1;
	margin-left: 0;
	background-color: #fff;
	transform: translateZ(0);

	@media (max-width: 60em) {
		min-height: 100vh;

		.state--menu-active & {
			transform: translate(-$menu-width, 0);
		}
	}

	@media (min-width: 60em) {
		margin-left: $menu-width;
	}
}

.f-main {
	@include borderBox;
	min-height: 100%;
}


.elements--button{
	& section{
		padding-bottom: 2em;
	  	border-radius: 3px;
	  	text-align: center;
	  	margin: 1em 0 1em 0;
	  	position: relative !important;}
	& .md-button{margin-right:1em;}
	& > section > .label{
		position: absolute;
	  	top: 0px;
	  	right: 0px;
	  	color: #ccc;
	  	font-size: 14px;}
}
.container__item{position: relative;}