<div layout="column" layout-fill>
	<md-card class="md-whiteframe-z1" layout="column" layout-align="center center" md-padding>
		<div><img data-src="{{ctrl.user.image}}" alt="{{ctrl.user.name}}"></div>
		<h5>{{ctrl.user.name}}</h5>
		<p><md-button><md-icon md-svg-icon="communication:ic_email_24px" alt="Help" aria-label="email"></md-icon></md-button>{{ctrl.user.email}}</p>
		<p><md-button><md-icon md-svg-icon="communication:ic_phone_24px" alt="Help" aria-label="phone"></md-icon></md-button>{{ctrl.user.phone}}</p>
	</md-card>
</div>