<body ng-controller="TemplatesCtrl as ctrl" layout="column" md-theme="altTheme" md-theme-watch>
<sf-topbar></sf-topbar>
<div class="sf-wrapper" layout="row">
	
	<div ng-include="'templates/partials/sidebarPrimary.tmpl.html'" ng-include-replace></div>

	<div class="main" role="main" layout="column" layout-fill>
		<sf-toolbar-primary></sf-toolbar-primary>
			<md-content>
				<sf-spot></sf-spot>
				<div layout="column" class="sf-main-content">
					<div layout-padding layout="row" layout-wrap class="sf-main-feature">
						<h5 flex="100">Your favourite categories</h5>
						<div flex="50" flex-md="50" flex-sm="100"ng-repeat="item in ctrl.features" class="sf-main-feature">
							<md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding>
								<a ng-href="template-productlist.html"><img data-src="{{item.image}}" alt="{{item.title}}" class="sf-main-feature__image"></a>
								<p class="sf-main-feature__title">{{item.title}}</p>
							</md-whiteframe>
						</div>
						<md-button class="md-primary">Continue</md-button>
					</div><!-- /sf-main-feature -->
					<div layout-padding layout="row" layout-wrap class="sf-main-orderhistory"></div>
				</div><!-- /sf-main-content -->
			</md-content>
	</div><!-- /main -->
	
	<div ng-include="'templates/partials/minicartSidenav.tmpl.html'"></div>
	<div ng-include="'templates/partials/usermenuSidenav.tmpl.html'"></div>
</div><!-- /wrapper -->