<body layout="row" ng-controller="TemplatesCtrl as ctrl">
<md-sidenav class="md-sidenav-left sf-main-sidenav" md-is-locked-open="$media('gt-md')">
<md-toolbar class="sf-primary"><span class="md-toolbar-tools"><img data-src="holder.js/40x40/text:POv3" alt="Logo" /></span></md-toolbar>

	<md-content flex>
		<div layout="column" flex>
			<img data-src="holder.js/320x40/text:3M" alt="Logo" />
		</div>
		<sf-menu ng-model="ctrl.nav.primary"></sf-menu>
    </md-content>
</md-sidenav>
<div class="main" role="main" layout="column" layout-fill>
<md-toolbar layout-align="center">
<div class="md-toolbar-tools" layout="row">
	<div flex="5" hide-gt-md>
		<md-button ng-click="openMenu()" aria-label="Toggle Menu"><md-icon md-svg-icon="navigation:ic_menu_24px" alt="Help"></md-icon></md-button>
	</div>
	<div flex layout="row" layout-align="end end">
		<div><md-button aria-label="Mini Cart" ng-click="ctrl.toggleMiniCart()"><md-icon md-svg-icon="action:ic_shopping_cart_24px" alt="Exit"></md-icon></md-button></div>
		<div><md-button ng-click="ctrl.toggleUserPanel()"><md-icon md-svg-icon="action:ic_account_box_24px" alt="Exit" aria-label="UserPanel"></md-icon></md-button></div>
		<div>
		</div>
	</div>
</div>
</md-toolbar>
<md-content class="md-padding">
	<div flex layout-padding>content</div>
	<div flex layout-padding>footer</div>
</md-content>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="user-panel">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">{{ctrl.user.name}}
		<md-button ng-click="ctrl.closeUserPanel()"><md-icon md-svg-icon="navigation:ic_close_24px" alt="Exit"></md-icon></md-button>
        </h2>
    </md-toolbar>
    <md-content class="md-padding">
	    <md-list>
	      <md-item ng-repeat="item in ctrl.user.menu">
	        <md-item-content>
	          <div class="md-tile-left">
	          	<md-button>
	              <md-icon md-svg-icon="{{item.icon}}" alt="Exit"></md-icon>
	              {{item.title}}
	              </md-button>
	          </div>
	        </md-item-content>
	      </md-item>
	    </md-list>
    </md-content>
</md-sidenav>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="mini-cart">
    <md-toolbar>
        <h2 class="md-toolbar-tools">Minicart
			<md-button ng-click="ctrl.closeMiniCart()"><md-icon md-svg-icon="navigation:ic_close_24px" alt="Exit"></md-icon></md-button>
        </h2>
    </md-toolbar>
    <md-content class="md-padding">
    	<sf-mini-cart ng-model="ctrl.order"></sf-mini-cart>
    </md-content>
</md-sidenav>
</body>
